body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }

}

.pokemon-cards-container {
  display: flex;
  flex-wrap: wrap;

  .pokemon-card {
    margin: 30px 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    img {
      max-height: 200px;
    }
  }
}
